<!DOCTYPE html>
{% load i18n %}
{% load bootstrap_toolkit %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
    <title>{% block title %}{% if title %}{{ title }} | {% endif %}
        {% trans 'Group Order' %}{% endblock %}</title>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    {% block extrastyle %}{% endblock %}
    <!--[if lt IE 9]>
    {#<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>#}
    <script src="{{ STATIC_URL }}js/html5.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% if not is_popup %}
    <!-- Header -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand">
                    {% block branding %}
                        {% trans 'Group Order' %}
                    {% endblock %}
                </a>
                {% if user.is_active %}
                    <ul class="nav nav-pills pull-right">
                        {#<li class="active"><a href="#">Home</a></li>#}
                        {% if user.is_staff %}
                            <li><a target="_blank"
                                   href="{% url 'admin:index' %}">{% trans 'Administration' %}</a>
                            </li>
                        {% endif %}
                        {% if user.has_usable_password %}
                            <li>
                                <a href="{% url 'group_order:password_change' %}">{% trans 'Change password' %}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'group_order:logout' %}">{% trans 'Log out' %}</a>
                        </li>
                        {% block userlinks %}
                        {% endblock %}
                        <li class="divider-vertical pull-right"/>
                        <li class="pull-right">
                            <a>
                                {% trans 'Welcome,' %}
                                <strong>
                                    {% filter force_escape %}
                                        {% firstof user.get_short_name user.get_username %}
                                    {% endfilter %}
                                </strong>
                                .
                            </a>
                        </li>
                        </a>
                    </ul>
                {% endif %}
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="breadcrumb navbar-static-top">
        <a href="{% url 'group_order:index' %}">{% trans 'Home' %}</a>
        {% block breadcrumb %}{% endblock %}
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endif %}

<!-- Container -->
<div id="container" class="container-narrow">

    {% block messages %}
        {% bootstrap_messages %}
        {#        {% if messages %}#}
        {#            <ul class="messagelist">{% for message in messages %}#}
        {#                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
        {#            {% endfor %}</ul>#}
        {#        {% endif %}#}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear"/>
    </div>
    <!-- END Content -->

    {% block footer %}
        <div id="footer" class="row"></div>
    {% endblock %}
</div>
<!-- END Container -->

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>#}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
{% bootstrap_javascript_tag %}

</body>
</html>