{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if title %}{{ title }} | {% endif %}{% trans 'Group Order' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Group Order' %}</h1>
{% endblock %}

{% block userlinks %}
    <a target="_blank" href="{% url 'admin:index' %}">{% trans 'Administration' %}</a>
    {% if user.has_usable_password %}
        <a href="{% url 'group_order:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'group_order:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
{% block nav-global %}
    {% if user.is_active and not user.is_staff %}
        <div id="user-tools">
            {% trans 'Welcome,' %}
            <strong>{% filter force_escape %}
                {% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>.
            {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'group_order:logout' %}">{% trans 'Log out' %}</a>
        </div>
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'group_order:index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}
