{% extends "group_order/base.html" %}
{% load i18n %}

{% block content %}
    {% trans "Items" %}
    <ul>
        {% for i in order.item_set.all %}
            <li><a href=" {% url 'group_order:item' i.id %}">{{ i }}</a></li>
        {% endfor %}
    </ul>
    {% trans "Item count" %}: {{ order.item_set.all.count }}
    {% if order.total %} - {{ order.total }} {% trans "total" %} {% endif %}

    <hr/>

    {% trans "Transfers" %}
    <ul>
        {% for t in order.transfer_set.all %}
            <li><a href=" {% url 'group_order:transfer' t.id %}">{{ t }}</a></li>
        {% endfor %}
    </ul>
    {% trans "Transfer count" %}: {{ order.transfer_set.all.count }}
    {% if order.paid %} - {{ order.paid }} {% trans "paid" %} {% endif %}
{% endblock %}
