{% load i18n %}

<h1>{{ order }}</h1>

Items
<ul>
    {% for i in order.item_set.all %}
        <li><a href=" {% url 'group_order:item' i.id %}">{{ i }}</a></li>
    {% endfor %}
</ul>
{% blocktrans count count=order.item_set.all.count %}{{ count }} item{% plural %}{{ count }} items{% endblocktrans %}
{% if order.total %} {{ order.total }} {% trans "total" %} {% endif %}

<hr/>

Transfers
<ul>
    {% for t in order.transfer_set.all %}
        <li><a href=" {% url 'group_order:transfer' t.id %}">{{ t }}</a></li>
    {% endfor %}
</ul>
{% blocktrans count count=order.transfer_set.all.count %}{{ count }} transfer{% plural %}{{ count }} transfers{% endblocktrans %}
{% if order.paid %} {{ order.paid }} {% trans "paid" %} {% endif %}
