{% extends "group_order/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
    &rsaquo;
    <a href="{% url 'group_order:purchase' order.purchase.id %}">{{ order.purchase }}</a>
{% endblock %}

{% block content %}
    {% block content_title %}{% endblock %}
    <div class="module">
        <form method="post" action="{% url 'group_order:order' order.id %}">
            {% csrf_token %}
            {{ item_formset.management_form }}
            <table class="table">
                <caption>{% trans "Items" %}</caption>
                {% if item_formset %}
                    <thead>
                    <tr>
                        <th>#</th>
                        {% for field in item_formset.0 %}
                            {% if not field.is_hidden %}
                                <th>{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for form in item_formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <td>{{ field|as_bootstrap }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tr class="info">
                    <td></td>
                    <td>
                        {% trans 'total' as total %}{{ total|capfirst }}
                    </td>
                    <td>
                        {{ order.quantity }}
                    </td>
                    <td>
                        {{ order.total }}
                    </td>
                    <td></td>
                </tr>
            </table>
            {% if order.purchase.closed or order.purchase.past_due %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul class="inline">
                        {% if order.purchase.closed %}
                            <li>{% trans "Purchase is closed." %}</li>
                        {% endif %}
                        {% if order.purchase.past_due %}
                            <li>{% trans "Due date is in the past." %}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-actions">
                {% if can_save_item %}
                    <input class="btn" type="submit" value="{% trans 'Save' %}"/>
                {% else %}
                    <a class="btn disabled">{% trans 'Save' %}</a>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="module">
        <form method="post" action="{% url 'group_order:order' order.id %}">
            {% csrf_token %}
            {{ transfer_formset.management_form }}
            <table class="table">
                <caption>{% trans "Transfers" %}</caption>
                {% if transfer_formset %}
                    <thead>
                    <tr>
                        <th>#</th>
                        {% for field in transfer_formset.0 %}
                            {% if not field.is_hidden %}
                                <th>{{ field.label }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for form in transfer_formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <td>{{ field }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tr class="info">
                    <td></td>
                    <td>
                        {% trans 'total' as total %}{{ total|capfirst }}
                    </td>
                    <td>
                        {{ order.paid }}
                    </td>
                    <td></td>
                </tr>
            </table>
            <div class="form-actions">
                {% if can_save_transfer %}
                    <input class="btn" type="submit" value="{% trans 'Save' %}"/>
                {% else %}
                    <a class="btn disabled">{% trans 'Save' %}</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
