{% extends "group_order/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'group_order:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a
            href="{% url 'group_order:purchase' order.purchase.id %}">{{ order.purchase }}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
{% endblock %}

{% block content %}
    {% block content_title %}{% endblock %}
    {% trans "Items" %}
    <div class="module">
        <form method="post" action="{% url 'group_order:order' order.id %}">
            {% csrf_token %}
            {{ item_formset.management_form }}
            <table>
                {% if item_formset %}
                    <tr>
                        <td></td>
                        {% for field in item_formset.0 %}
                            {% if not field.is_hidden %}
                                <td>{{ field.label_tag }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
                {% for form in item_formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <td>{{ field }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        {% trans 'total' as total %}{{ total|capfirst }}
                    </td>
                    <td>
                        {{ order.quantity }}
                    </td>
                    <td>
                        {{ order.total }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% if can_save_item %}
                            <input type="submit" value="{% trans 'Save' %}"/>
                        {% endif %}
                        {% if order.purchase.closed %}
                            <ul class="errorlist">
                                <li>{% trans "Purchase is closed." %}</li>
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </div>

    {% trans "Transfers" %}
    <div class="module">
        <form method="post" action="{% url 'group_order:order' order.id %}">
            {% csrf_token %}
            {{ transfer_formset.management_form }}
            <table>
                {% if transfer_formset %}
                    <tr>
                        <td></td>
                        {% for field in transfer_formset.0 %}
                            {% if not field.is_hidden %}
                                <td>{{ field.label_tag }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
                {% for form in transfer_formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <td>{{ field }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        {% trans 'total' as total %}{{ total|capfirst }}
                    </td>
                    <td>
                        {{ order.paid }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% if can_save_transfer %}
                            <input type="submit" value="{% trans 'Save' %}"/>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
