{% extends "group_order/base.html" %}
{% load i18n static %}
{% load bootstrap_toolkit %}

{% block breadcrumb %}
    &rsaquo; {% trans 'Password change' %}
{% endblock %}

{#{% block title %}{% trans 'Password change' %}{% endblock %}#}

{% block content %}
    <div id="content-main">

        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="alert-error">
                        {% blocktrans count counter=form.errors.items|length %}Please correct the
                            error below.{% plural %}Please correct the errors
                            below.{% endblocktrans %}
                    </p>
                {% endif %}

                <p class="alert">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
                {{ form|as_bootstrap:'horizontal' }}

                <div class="form-actions">
                    <input type="submit" value="{% trans 'Change my password' %}"
                           class="btn btn-primary"/>
                </div>

                <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
            </div>
        </form>
    </div>

{% endblock %}
