{% extends "group_order/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% block content_title %}{% endblock %}
    <div class="module">
        <form action="{% url 'group_order:purchase' purchase.id %}" method="post"
              class="form-horizontal">
            {% csrf_token %}
            {{ form.manager.as_hidden }}
            {{ form.supplier.as_hidden }}
            {{ form|as_bootstrap:'horizontal' }}
            {% if purchase.past_due and not purchase.closed %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul class="inline">
                        <li>{% trans "Due date is in the past." %}</li>
                    </ul>
                </div>
            {% endif %}
            <div class="form-actions">
                {% if is_manager or user.is_staff %}
                    {% if purchase.closed and user.is_staff %}
                        <input type="submit" name="open_purchase" value="{% trans 'Open' %}"
                               class="btn btn-primary"/>
                    {% else %}
                        <input type="submit" value="{% trans 'Update' %}"
                               class="btn btn-primary"/>
                        {% if not purchase.past_due %}
                            <input type="submit" name="close_purchase"
                                   value="{% trans 'Close' %}" class="btn btn-secondary"/>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if purchase.past_due and not purchase.closed and not has_order %}
                    <input type="submit" name="add_order" value="{% trans 'Add order' %}"
                           class="btn btn-secondary"/>
                {% endif %}
                {% if can_transfer %}
                    <input type="submit" name="transfer_remainder"
                           value="{% trans 'Transfer remainder' %}" class="btn btn-secondary"/>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="module">
        <table class="table">
            <caption>{% trans 'Orders' %}</caption>
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'customer' as customer %}{{ customer|capfirst }}</th>
                <th>{% trans 'created' as created %}{{ created|capfirst }}</th>
                <th>{% trans 'quantity' as quantity %}{{ quantity|capfirst }}</th>
                <th>{% trans 'amount' as amount %}{{ amount|capfirst }}</th>
                <th>{% trans 'paid' as paid %}{{ paid|capfirst }}</th>
                <th>{% trans 'remainder' as remainder %}{{ remainder|capfirst }}</th>
            </tr>
            </thead>
            <tbody
            {% for o in purchase.order_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href=" {% url 'group_order:order' o.id %}">{{ o.customer }}</a></td>
                    <td>{{ o.created.date }}</td>
                    <td>{{ o.quantity }}</td>
                    <td>{{ o.total }}</td>
                    <td>{{ o.paid }}</td>
                    <td>{{ o.remainder }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tr class="info">
                <td></td>
                <td>{% trans 'total' as total %}{{ total|capfirst }}</td>
                <td></td>
                <td>{{ purchase.quantity }}</td>
                <td>{{ purchase.total }}</td>
                <td>{{ purchase.paid }}</td>
                <td>{{ purchase.remainder }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
