{% extends "group_order/base.html" %}
{% load i18n %}

{% block content %}
    {% block content_title %}{% endblock %}
    <div class="module">
        <form action="{% url 'group_order:purchase' purchase.id %}" method="post">
            {% csrf_token %}
            {{ form.manager.as_hidden }}
            {{ form.supplier.as_hidden }}
            {{ form.as_p }}
            {% if is_manager or user.is_staff %}
                {% if purchase.closed %}
                    <input type="submit" name="open_purchase" value="{% trans 'Open' %}"/>
                {% else %}
                    <input type="submit" value="{% trans 'Update' %}"/>
                    {% if not purchase.past_due %}
                        <input type="submit" name="close_purchase" value="{% trans 'Close' %}"/>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if purchase.past_due %}
                <ul class="errorlist">
                    <li>{% trans "Due date is in the past." %}</li>
                </ul>
            {% elif not purchase.closed and not has_order %}
                <input type="submit" name="add_order" value="{% trans 'Add order' %}"/>
            {% endif %}
        </form>
    </div>
    {% trans 'Order list' %}
    <div class="module">
        <table>
            <tr>
                <td></td>
                <td>{% trans 'Customer' %}</td>
                <td>{% trans 'Created' %}</td>
                <td>{% trans 'Quantity' %}</td>
                <td>{% trans 'Amount' %}</td>
                <td>{% trans 'Paid' %}</td>
                <td>{% trans 'Remainder' %}</td>
            </tr>
            {% for o in purchase.order_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href=" {% url 'group_order:order' o.id %}">{{ o.customer }}</a></td>
                    <td>{{ o.created.date }}</td>
                    <td>{{ o.quantity }}</td>
                    <td>{{ o.total }}</td>
                    <td>{{ o.paid }}</td>
                    <td>{{ o.remainder }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>{% trans 'Total' %}</td>
                <td></td>
                <td>{{ purchase.quantity }}</td>
                <td>{{ purchase.total }}</td>
                <td>{{ purchase.paid }}</td>
                <td>{{ purchase.remainder }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
