{% extends "group_order/base.html" %}
{% load i18n %}

{% block content %}
    <h2>{{ flavour }} (mobile)</h2>
    {% trans 'supplier' as supplier %}
    {% trans 'manager' as manager %}
    {% trans 'due' as due %}
    {% trans 'amount' as amount %}
    {% trans 'paid' as paid %}
    {% trans 'remainder' as remainder %}
    {% trans 'Purchases' %}
    {% if purchase_list %}
        {% if filter == 'all' %}
            <a href="{% url 'group_order:index_filter' 'my' %}">{% trans 'my' %}</a>
        {% else %}
            <a href="{% url 'group_order:index' %}">{% trans 'all' %}</a>
        {% endif %}
        <a href="{% url 'group_order:purchase_add' %}">{% trans 'add' %}</a>
        <div class="module">
            <table>
                <tr>
                    <td>{{ supplier|capfirst }}</td>
                    <td>{{ manager|capfirst }}</td>
                    <td>{{ due|capfirst }}</td>
                    <td>{{ amount|capfirst }}</td>
                    <td>{{ paid|capfirst }}</td>
                    <td>{{ remainder|capfirst }}</td>
                </tr>
                {% for p in purchase_list %}
                    {% url 'group_order:purchase' p.id as purchase_url %}
                    <tr>
                        <td><a href="{{ purchase_url }}">{{ p.supplier }}</a></td>
                        <td><a href="{{ purchase_url }}">{{ p.manager }}</a></td>
                        <td>{{ p.due }}</td>
                        <td>{{ p.total }}</td>
                        <td>{{ p.paid }}</td>
                        <td>{{ p.remainder }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <a href="{% url 'group_order:purchase_add' %}">{% trans 'add' %}</a>
    {% endif %}
    {% if my_order_list %}
        {% trans 'My orders' %}
        <div class="module">
            <table>
                <tr>
                    <td>{{ supplier|capfirst }}</td>
                    <td>{{ manager|capfirst }}</td>
                    <td>{{ due|capfirst }}</td>
                    <td>{{ amount|capfirst }}</td>
                    <td>{{ paid|capfirst }}</td>
                    <td>{{ remainder|capfirst }}</td>
                </tr>
                {% for o in my_order_list %}
                    {% url 'group_order:order' o.id as order_url %}
                    <tr>
                        <td><a href="{{ order_url }}">{{ o.purchase.supplier }}</a></td>
                        <td><a href="{{ order_url }}">{{ o.purchase.manager }}</a></td>
                        <td>{{ o.purchase.due }}</td>
                        <td>{{ o.total }}</td>
                        <td>{{ o.paid }}</td>
                        <td>{{ o.remainder }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}
